<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" id="WebApp_ID"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<servlet>
		<servlet-name>QRCode</servlet-name>
		<servlet-class>com.omnipotent.servlet.QRCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QRCode</servlet-name>
		<url-pattern>/QRCode</url-pattern>
	</servlet-mapping>
	
	<!-- 默认欢迎页面设置 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>